* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1b6478;
    --secondary-color: #088FAF;
    --light-color: #fff;
    --dark-color: #333
}

ul {
    list-style-type: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--light-color);
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 2rem;
}

header .container {
    width: 90%;
    min-width: 600px;
    margin: auto;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
}

header .logo {
    width: 125px;
}

header .navbar ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

header .navbar ul li {
    font-size: 1.5rem;
    color: var(--dark-color)
}

header .navbar ul li:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.restaurant-cards .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    margin: auto;
}

.restaurant-cards .restaurant-card {
    display: grid;
    grid-template-rows: 250px 1fr;
    gap: 1rem;
    border: 2px dotted #333;
    padding: 1rem;
}

.restaurant-cards .container img {
    height: 100%;
    min-width: 100%;
    max-width: 250px;
    object-fit: cover;
}

.restaurant-cards .restaurant-card-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.restaurant-cards .restaurant-card-other-details {
    display: flex;
    gap: 2rem
}